build/
gen/
libs/
obj/
.DS_Store
assets/.DS_Store
assets/models/.DS_Store
assets/textures/.DS_Store
platforms/ios/MemoryLeak.xcodeproj/*.pbxuser
platforms/ios/MemoryLeak.xcodeproj/*.perspectivev3
private
local.properties
platforms/linux_glut/gmon.out
