bin/DemoActivity-debug-unaligned.apk
bin/DemoActivity-debug.apk
bin/DemoActivity.ap_
bin/classes.dex
bin/classes/
build/Debug-iphonesimulator/
build/MemoryLeak.build/
build/Debug-iphoneos/
build/Release-iphoneos/
gen/
bin/
libs/armeabi/
obj/local/
assets/.DS_Store
assets/models/.DS_Store
assets/textures/.DS_Store
MemoryLeak.xcodeproj/*.pbxuser
MemoryLeak.xcodeproj/*.perspectivev3
osx/*.o
