bin/DemoActivity-debug-unaligned.apk
bin/DemoActivity-debug.apk
bin/DemoActivity.ap_
bin/classes.dex
bin/classes/
build/
build/Debug-iphonesimulator/
build/MemoryLeak.build/
build/Debug-iphoneos/
build/Release-iphoneos/
gen/
platforms/android/libs/armeabi/
platforms/android/obj/local/
.DS_Store
assets/.DS_Store
assets/models/.DS_Store
assets/textures/.DS_Store
platforms/ios/MemoryLeak.xcodeproj/*.pbxuser
platforms/ios/MemoryLeak.xcodeproj/*.perspectivev3
osx/*.o
src/assimp/*.o
src/*.o
private
platforms/android/bin/
platforms/osx/*.o
platforms/android/local.properties
src/libmodplug/*.o
platforms/osx_glut/*.o
platforms/osx_glut/build
